body{
    background-color: rgb(198, 202, 202);
    color: rgb(34, 34, 34);
    font-family: 'Roboto Condensed', sans-serif;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.foto-principal{
    border: 5px solid #ffffff; /* shorthand */
    border-radius: 15% 5% 40%;
    width: 300px;
    margin: 10px 20px 30px 40px;
    box-shadow: 2px 2px 2px lawngreen;
}

h1{
    margin-bottom: 0;
    letter-spacing: -1px;
    font-family: 'Monoton', cursive;
    font-weight: 200;
}

h2{
    margin-top: 0;
    font-style: italic;
    color: rgb(86, 81, 81);
    font-weight: 100;
    letter-spacing: -1px;
}

