* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background: rgb(34,193,195);
    background: linear-gradient(180deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin: 0;
}

.avatar {
    border-radius: 50%;
    width: 100px;
    border: white solid 5px;
    box-shadow: 0 0 20px white;
}

.profile {
    text-align: center;
    padding-top: 20px;
}

.social {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 20px 0;
}

.social img {
    width: 33px;
}

.link-list {
    list-style: none;
}

.link-list li a {
    display: block;
    background-color: white;
    padding: 15px 20px;
    border-radius: 5px;
    margin: 10px 20px;
    text-decoration: none;
    color: rgb(54, 77, 204);
    font-weight: bold;
}

.link-list li a span {
    display: block;
    color: gray;
    margin-top: 10px;
}

